$primaryColor: #0e0e44;
$secondaryColor: #69a0cb;
$fontColor: #0e0e44;
$accent: #f1c517;


$defaultFont: 'Lato',
sans-serif;
$normalWeight:300;
$boldWeight:700;

$gutter: 2%;
$gutterdbl: (2 * $gutter);
